body {
  background-color: #9ec9e3;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
  color: #0091c7;
  text-align: center;
}

div {
  text-align: center;
}

input[type="checkbox"] {
  margin: 8px;
  padding: 10px;
  font: 18px;
}
input[type="number"] {
  border: 1px solid #0091c7;
  margin: 8px;
  padding: 10px;
  font-size: 18px;
  width: 180px;
}

input[type="number"] {
  border-radius: 10px;
  border: none;
}

button {
  background-color: #0091c7;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #006b9f;
  box-shadow: 0 0 10px #006b9f;
}

p {
  font-family: sans-serif;
  font-size: 18px;
  color: #0091c7;
  text-align: center;
}
